.container {
  height: 336;
  padding: 0px 98px;
  border-top: 1px solid #cccccc;

  .footerInfo {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;

    .title {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #343434;
      margin-bottom: 25px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #626262;
    }
    p:nth-last-child(n + 2) {
      margin-bottom: 10px;
    }

    .menu {
      display: flex;

      div:nth-child(-n + 2) {
        margin-right: 130px;
      }
    }
  }
}
.footerNav {
  margin-top: 50px;
  height: 93px;
  background-color: #343434;
  padding: 0px 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navigation {
    ul {
      display: flex;
      li {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #ffffff;
      }
      li:nth-last-child(n + 2) {
        margin-right: 30px;
      }
    }
  }

  .rights {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    color: #ffffff;
  }
}
